.containerbig{
    display: flex;
    border: solid 10px black;
    padding: 10px;
    background-color: darkblue;
    height: auto;
    width: auto;
    flex-direction: column;
}
.acontainer{
    display: flex;
    border: solid 10px rgb(236, 224, 224);
    padding: 10px;
    background-color: rgb(97, 97, 152);
    width: auto;
    flex-wrap: wrap;
    flex: 2 1 auto;
    flex-direction: column;
    height: 500px;
}
.bcontainer{
    display: flex;
    border: solid 10px black;
    padding: 10px;
    background-color: darkblue;
    margin: 10px;
    width: 1800px;
    height: 100%;
    flex: 2 1 auto;
    flex-direction: row;
}
.ccontainer{
    display: flex;
    border: solid 10px black;
    padding: 50px;
    background-color: darkblue;
    margin: 10px;
    width: 400px;

}
.finalc{
    border: solid 5px white;
    background-color: crimson;
    flex: 2 4 auto;
    flex-direction: column;
    display: flex;
    height: 50px;
    width: 50px;
    
}
.finalb{
    width: auto;
    height: auto;
    border: solid 5px rgb(196, 196, 196);
    background-color: rgb(48, 17, 248);
    flex: auto;
    flex-direction: row;
    padding: 50px;

}
.finalbb{
    width: auto;
    height: 280px;
    border: solid 5px rgb(196, 196, 196);
    background-color: rgb(48, 17, 248);
    flex-direction: column;
    padding: 10px;
}
#sbm{
    display: flex;
    flex-direction: column;
    width: 80px;
    height: 60px;
}
.bailando{
    background-color: black;
    width: 100px;
    height: 80px;
    color: rgb(255, 217, 1);
    display: inline-flex;
    flex: auto;
    border: solid 5px rgb(251, 0, 255);
    padding: 3px;
    text-decoration: none;
    text-align: center;
}
.clear{
    display: inline-block ;
    border: solid rgb(0, 255, 13) 3px;
    width: 390px;
    height: 70px;
    background-color: red;
    margin: 3px;
    
}
.iubesc{
    display: inline-block;
    border: solid rgb(255, 0, 191) 3px;
    border-radius: 100px 0 0 0;
    width: 390px;
    height: 70px;
    background-color: black;
    margin: 3px;

}
p{
    font-family: fantasy;
    font-size: 20px;
    font-weight: 400;
    color: rgb(251, 255, 0);
}